<div class="grid">
  <% @quotes.each do |quote| %>
    <div class="grid-item , card ">
        <div class="button">
          <% if can? :destroy, quote %>
            <%= link_to quote, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <img src="/delete.svg">
            <% end %>
          <% end %>
          <% if can? :update, quote %>
            <%= link_to edit_quote_path(quote) do %>
              <img src="/edit.svg">
            <% end %>
          <% end %>
        </div>
        <div class="quotes">
            <p>"<%= quote.quote %>"</p>
            <h4>By <%= quote.autor %> | <%= quote.date %></h4>
        </div>
        <div class="like">
        <%= link_to like_quote_path(quote), method: :put do %>
          <img src="/like.svg"><%= quote.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_quote_path(quote), method: :put do %>
          <img src="/dislike.svg"><%= quote.get_downvotes.size %>
        <% end %>
      </div>
  </div>
<% end %>
<script>
$('.grid').packery({
  itemSelector: '.grid-item',
  percentPosition: true,
  gutter: 10
});
</script>
</div>
