<!DOCTYPE html>
<html>
<head>
  <title>MMI's quotes</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application','packery-docs' 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Palanquin:200,400,600" rel="stylesheet">
</head>
  <body>
      <% if user_signed_in? %>
      <div class="navbar">
        <div class="logo">
          <%= link_to 'MMIs quotes', quotes_path %>
        </div>
        <div>
          <h6><%= link_to '+ New Quote', new_quote_path %></h6>
          <h3><%= link_to 'Edit profile', edit_user_registration_path %></h3>
          <h3><%= link_to 'Log out', destroy_user_session_path, method: :delete %></h3>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <footer>
    <% if user_signed_in? %>
      <p>Logged as <strong><%= current_user.email %></strong>.</p>
    <% end %>
    <p id="notice"><%= notice %></p>
    <p> MMI's quotes © codé par Emeline Bailleul</p>
  </footer>

</html>
